<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PicPreview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PicPreview.Properties.Settings>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>-1000000</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>-1000000</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1000000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1000000</value>
            </setting>
            <setting name="CheckFileAssociations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximizeFilter" serializeAs="String">
                <value>NearestNeighbor</value>
            </setting>
            <setting name="MinimizeFilter" serializeAs="String">
                <value>HighQualityBicubic</value>
            </setting>
            <setting name="FastRenderAnimations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FastRenderInteraction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RenderTransparencyGrid" serializeAs="String">
                <value>True</value>
            </setting>
        </PicPreview.Properties.Settings>
    </userSettings>
</configuration>