<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PicPreview" Language="1033" Version="0.9.5" Manufacturer="Simon Breitfelder" UpgradeCode="e1077e8c-5c06-48cc-a741-b1f72044f85e">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>

    <!--<WixVariable Id="WixUIBannerBmp" Value="images\BannerTop.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="images\Dialog.bmp" />-->
    <Icon Id="Icon" SourceFile="$(var.SolutionDir)\PicPreview\Resources\pic-preview.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon" />

    <WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch PicPreview now" />
    <Property Id="WixShellExecTarget" Value="[#PicPreview.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="f79194c9-e41a-403f-8a1a-af26517fcb52">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="PicPreview" Description="Image Preview application" Target="[#PicPreview.exe]" WorkingDirectory="ProgramMenuFolder"/>
        <RemoveFile Id="RemoveApplicationShortcut" Name="PicPreview.lnk" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\SimonBreitfelder\PicPreview" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="PicPreview" Level="1">
			<ComponentGroupRef Id="PicPreviewMainApp" />
      <ComponentRef Id="ApplicationShortcut" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PicPreview" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="PicPreviewMainApp" Directory="INSTALLFOLDER">
			<Component Id="PicPreviewExecutable">
        <File Id="PicPreview.exe" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\PicPreview.exe" KeyPath="yes" />
        <File Id="PicPreview.pdb" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\PicPreview.pdb" />
			</Component>
      <Component Id="PicPreviewDefaultConfig">
        <File Id="PicPreview.exe.config" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\PicPreview.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="LibWebPack86">
        <File Id="libwebp_x86.dll" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\libwebp_x86.dll" KeyPath="yes" />
      </Component>
      <Component Id="LibWebPack64">
        <File Id="libwebp_x64.dll" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\libwebp_x64.dll" KeyPath="yes" />
      </Component>
      <Component Id="LibTGA">
        <File Id="TargaImage.dll" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\TargaImage.dll" KeyPath="yes" />
        <File Id="TargaImage.xml" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\TargaImage.xml" />
      </Component>
      <Component Id="LibNLog">
        <File Id="NLog.dll" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\NLog.dll" KeyPath="yes" />
        <File Id="NLog.xml" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\NLog.xml" />
        <File Id="NLog.config" Source="$(var.SolutionDir)\PicPreview\bin\$(var.Configuration)\NLog.config" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
